<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>Update the selected executive</h1>
</div>
	{% if execut|length == 0 %}
		<h1 style="margin-top: 5rem;">You didn't chose an executive :(</h1>
	{% else %}
		Selected executive:<br>
		<table class="table" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Branch</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ex in execut %}
                                    <tr>
                                        <td> {{ ex.First_Name }} </td>
                                        <td> {{ ex.Last_Name }} </td>
                                        <td> {{ ex.Branch }} </td>
					
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
	{% endif %}

{% if execut|length != 0 %}
<form  method="post"><br><br>
<label for="fname">First name (up to 45 chars):</label>
 <input name="fname" type="text"><br><br>
 <label for="lname">Last name (up to 45 chars):</label>
  <input type="text" name="lname"><br><br>
Branch: <input type="text" name="branch"><br><br>
<input type = "submit" value = "Submit">
{% endif %}
</form>
</body>
</html>	



