<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>ELIDEK</h1>
</div>
 <form action="/" method="get">
	<b>What would you like to do?:</b><br><br> 
		<label for="insertion">Choose a table to insert:</label>
		<select onchange="ins(this.value)">
			<option disabled selected></option>
			<option value="deliverables/create">Deliverable</option>
			<option value="executives/create">Executive</option>
			<option value="organizations/create">Organization</option>
			<option value="organization_phone_numbers/create">Organization phone number</option>
			<option value="programs/create">Program</option>
			<option value="projects/create">Project</option>
			<option value="project_fields/create">Project_field</option>
			<option value="researchers/create">Researcher</option>
			<option value="scientific_fields/create">Scientific field</option>
			<option value="works/create">Works</option>
		</select>
<br><br>
		<label for="deletion">Choose a table to delete from:</label>
		<select onchange="red(this.value)">
			<option disabled selected></option>
			<option value="deliverables">Deliverable</option>
			<option value="executives">Executive</option>
			<option value="organizations">Organization</option>
			<option value="organization_phone_numbers">Organization phone number</option>
			<option value="programs">Program</option>
			<option value="projects">Project</option>
			<option value="project_fields">Project_field</option>
			<option value="researchers">Researcher</option>
			<option value="scientific_fields">Scientific field</option>
			<option value="works">Works</option>
		</select>
<br><br>
		<label for="update">Choose a table to update:</label>
		<select onchange="red(this.value)">
			<option disabled selected></option>
			<option value="deliverables">Deliverable</option>
			<option value="executives">Executive</option>
			<option value="organizations">Organization</option>
			<option value="organization_phone_numbers">Organization phone number</option>
			<option value="programs">Program</option>
			<option value="projects">Project</option>
			<option value="project_fields">Project_field</option>
			<option value="researchers">Researcher</option>
			<option value="scientific_fields">Scientific field</option>
			<option value="works">Works</option>
		</select>
<br><br>
		<label for="select">Choose a table to select from:</label>
		<select onchange="red(this.value)">
			<option disabled selected></option>
			<option value="deliverables">Deliverable</option>
			<option value="executives">Executive</option>
			<option value="organizations">Organization</option>
			<option value="organization_phone_numbers">Organization phone number</option>
			<option value="programs">Program</option>
			<option value="projects">Project</option>
			<option value="project_fields">Project_field</option>
			<option value="researchers">Researcher</option>
			<option value="scientific_fields">Scientific field</option>
			<option value="works">Works</option>
		</select>
<br><br>
<br><br>
<b>Select number of ready query:</b>
<select onchange="up(this.value)">
			<option disabled selected></option>
			<option value="1">1</option>
			<option value="21">2.1</option>
			<option value="22">2.2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
		</select>
</form>


		{% block content %}
		{% endblock content %}
<script> 
  	function red(src)
	{
		window.location = src;
	}
</script>
<script> 
  	function ins(src)
	{
		window.location = src;
	}
</script>
<script> 
  	function up(src)
	{
		window.location = "/query" + src;
	}
</script>
</body>

</html>