<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>Update the selected organization</h1>
</div>
	{% if org|length == 0 %}
		<h1 style="margin-top: 5rem;">You didn't chose an organization :(</h1>
	{% else %}
		Selected organization:<br>
		<table class="table" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>Abbreviation</th>
                                    <th>Name</th>
                                    <th>Street Name</th>
                                    <th>Street Number</th>
				    <th>Postcode</th>
				    <th>City</th>
				    <th>Category</th>
				    <th>Min.Educ. Budget</th>
				    <th>Private Actions Budget</th>
				    <th>Equity Budget</th>
				    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for or in org %}
                                    <tr>
                                        <td> {{ or.Abbreviation }} </td>
                                        <td> {{ or.Name }} </td>
                                        <td> {{ or.Street_Name }} </td>
					<td> {{ or.Street_Number }} </td>
					<td> {{ or.Postcode }} </td>
					<td> {{ or.City }} </td>
					<td> {{ or.Category }} </td>
					<td> {{ or.Budget_Ministry_of_Education }} </td>
					<td> {{ or.Budget_Private_Actions }} </td>
					<td> {{ or.Budget_Equity}} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
	{% endif %}

{% if org|length != 0 %}
<br><br>
<form method="post">
Abbreviation (up to 5 chars): <input name="abbrev" type="text"><br><br>
Name (up to 45 chars): <input type="text" name="name"><br><br>
Street Name (up to 45 chars): <input name="sname" type="text"><br><br>
Street Number (up to 4 digits): <input type="text" name="snum"><br><br>
Postcode (up to 7 digits): <input name="postc" type="text"><br><br>
City (up to 45 chars): <input type="text" name="city"><br><br>
Category: <select name="categ">
	{% for c in category %}
	<option	 value='{{c.Category}}'>{{c.Category}}</option>
	{% endfor %}
</select>
<br><br>
Warning: If you are going to update in a company then fill only the <b>Equity Budget</b> from the below fields. 
<br>If you are going to update a in research center then fill <b>Min.Educ. Budget</b> and <b>Private Actions Budget</b> from the below fields.
<br>If you are going to update a  in university then fill only the <b>Min.Educ. Budget</b> from the below fields.
<br><br>
Min.Educ. Budget (up to 9 digits): <input type="text" name="mined"><br><br>
Private Actions Budget (up to 9 digits): <input type="text" name="prac"><br><br>
Equity Budget (up to 9 digits): <input type="text" name="eq"><br><br>
<input type = "submit" value = "Submit">
{% endif %}
</form>
</body>
</html>	