<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>ORGANIZATIONS</h1>   
</div>
 <form action="/organizations" method="get">  
	{% if organizations|length == 0 %}
		<h1 style="margin-top: 5rem;">No organizations found!</h1>
	{% else %}
		<table class="table" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Abbreviation</th>
                                    <th>Name</th>
                                    <th>Street Name</th>
                                    <th>Street Number</th>
				    <th>Postcode</th>
				    <th>City</th>
				    <th>Category</th>
				    <th>Min.Educ. Budget</th>
				    <th>Private Actions Budget</th>
				    <th>Equity Budget</th>
				    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for organization in organizations %}
                                    <tr>
                                        <td> {{ organization.ID_Org }} </td>
                                        <td> {{ organization.Abbreviation }} </td>
                                        <td> {{ organization.Name }} </td>
                                        <td> {{ organization.Street_Name }} </td>
					<td> {{ organization.Street_Number }} </td>
					<td> {{ organization.Postcode }} </td>
					<td> {{ organization.City }} </td>
					<td> {{ organization.Category }} </td>
					<td> {{ organization.Budget_Ministry_of_Education }} </td>
					<td> {{ organization.Budget_Private_Actions }} </td>
					<td> {{ organization.Budget_Equity}} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
	{% endif %}

</form>
<br><br>
{% if organizations|length != 0 %}
<b>If you want to delete an entry choose their ID:</b>
<input type="text" name="ID" id="ID"/>
<input type = "button" onclick = "red()" value = "Submit"><br><br>
<b>If you want to update an entry choose their ID:</b>
<input type="text" name="ID1" id="ID1"/>
<input type = "button" onclick = "up()" value = "Submit"><br><br>
If you want to return to the home page click here: <input type = "button" onclick = "home()" value = "Submit">
{% endif %}
<script> 
  	function red()
	{
		var input = document.getElementById('ID').value;
		window.location = "/organizations/delete/" + input;
	}
</script>
<script> 
  	function up()
	{
		var upd = document.getElementById('ID1').value;
		window.location = "/organizations/update/" + upd;
	}
</script>
<script> 
  	function home()
	{
		window.location = "/";
	}
</script>
</body>
</html>