<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>Projects' Fields</h1>
</div>
 <form action="/project_fields" method="get">
    {% if pfield|length == 0 %}
        <h1 style="margin-top: 5rem;">No entries found!</h1>
    {% else %}
        <table class="table" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>Project ID</th>
                                    <th>Field Title</th>

                                                   
                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pf in pfield %}
                                    <tr>
                                        <td> {{ pf.ID_Project }} </td>
                                        <td> {{ pf.Field_Title}} </td>
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
    {% endif %}

</form>
<br><br>
{% if pfield|length != 0 %}
<form action="/project_fields" method="post">
<b>If you want to delete an entry choose projects' ID and the corresponding Field.</b><br><br>
Project ID: <input name="prf" type="text" id="ID"/><br><br>
Field Name: <input name="ff" type="text" id="ID2"/>
<input type = "submit" value = "Submit"><br><br>
<b>If you want to update a project's scientific field choose its ID:</b>
<input type="text" name="ID1" id="ID1"/>
<input type = "button" onclick = "up()" value = "Submit">
</form>
{% endif %}
<script> 
  	function up()
	{
		var upd = document.getElementById('ID1').value;
		window.location = "/project_fields/update/" + upd;
	}
</script>
</body>
</html>