<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>Update the selected project</h1>
</div>
	{% if proj|length == 0 %}
		<h1 style="margin-top: 5rem;">You didn't chose a program :( </h1>
	{% else %}
		Selected program: <br>
		<table class="table" style="width:100%;text-align:center">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>Finish Date</th>
                                    <th>Funding Amount</th>
                                    <th>Duration</th>
                                    <th style="width:6%">Organization ID</th>
                                    <th style="width:6%">ID of Researcher in charge</th>
                                    <th style="width:6%">Evaluator ID</th>
                                    <th>Evaluation Grade</th>
				    <th>Evaluation_Date</th>
                                    <th style="width:6%">Program ID</th>
                                    <th style="width:6%">Executive ID</th>

                                                   
                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pro in proj %}
                                    <tr>
                                        <td> {{ pro.Title }} </td>
                                        <td> {{ pro.Description }} </td>
                                        <td> {{ pro.Start_Date }} </td>
                                        <td> {{ pro.Finish_Date }} </td>
                                        <td> {{ pro.Funding_Amount }} </td>
                                        <td> {{ pro.Duration }} </td>
                                        <td> {{ pro.ID_org }} </td>
                                        <td> {{ pro.ID_Researcher_in_Charge }} </td>
                                        <td> {{ pro.ID_Evaluator }} </td>
                                        <td> {{ pro.Evaluation_Grade }} </td>
                                        <td> {{ pro.Evaluation_Date }} </td>
                                        <td> {{ pro.ID_Program }} </td>
                                        <td> {{ pro.ID_Executive }} </td>                                  
                    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
    {% endif %}

{% if proj|length != 0 %}
<form  method="post"><br><br>
Title (up to 45 chars): <input name="title" type="text"><br><br>
Description (up to 45 chars): <input type="text" name="desc"><br><br>
Start Date (YY-MM-DD): <input name="sdat" type="text"><br><br>
Finish Date (YY-MM-DD): <input type="text" name="fdat"><br><br>
Funding (up to 7 digits): <input name="fun" type="text"><br><br>
Organization: <input type="text" name="org"><br><br>
Chief Researcher: <input type="text" name="resc"><br><br>
Evaluator: <input name="eval" type="text"><br><br>
Grade (0-10): <input type="text" name="grade"><br><br>
Evaluation Date (YY-MM-DD): <input name="evdat" type="text"><br><br>
Program: <input type="text" name="prog"><br><br>
Executive: <input type="text" name="exec"><br><br>
<input type = "submit" value = "Submit">
{% endif %}
</form>
</body>
</html>	



