<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>Update the scientific field of the selected project</h1>
</div>
<form  method="post"><br><br>
	{% if projf|length == 0 %}
		<h1 style="margin-top: 5rem;">This project hasn't till now a scientific field :( </h1>
	{% else %}
		Select the scientific field you want to update:<br>
		<select name="oldft">
						{% for pr in projf %}
						<option	 value='{{pr.Field_Title}}'>{{pr.Field_Title}}</option>
						{% endfor %}
						</select>
	{% endif %}

{% if projf|length != 0 %}
<br><br>
Select project's new scientific field from the next valid choices<select name="ft">
						{% for fi in fields %}
						<option	 value='{{fi.Name}}'>{{fi.Name}}</option>
						{% endfor %}
						</select>
<input type = "submit" value = "Submit">
{% endif %}
</form>
</body>
</html>	



