<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div align="center">
  <h1>Query 5 result</h1>
</div>
{% if qu5|length == 0 %}
	<h1 style="margin-top: 5rem;">EMPTY SET</h1>
{% else %}
  <table class="table" style="text-align:center">
                         <table class="table" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>Scientific Field 1</th>
                                    <th>Scientific Field 2</th>
                                    <th>Number of projects</th>
                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for qu in qu5 %}
                                    <tr>
                                        <td> {{ qu.name1 }} </td>
                                        <td> {{ qu.name2 }} </td>
                                        <td> {{ qu.number_of_projects }} </td>
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
    {% endif %}
</body>
</html>