<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div align="center">
  <h1>Query 8 result</h1>
</div>
{% if qu8|length == 0 %}
	<h1 style="margin-top: 5rem;">EMPTY SET</h1>
{% else %}
  <table class="table" style="text-align:center">
                         <table class="table" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>Researcher ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Number of projects without submissions</th>
                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for qu in qu8 %}
                                    <tr>
                                        <td> {{ qu.ID_Researcher }} </td>
                                        <td> {{ qu.First_Name }} </td>
                                        <td> {{ qu.Last_Name }} </td>
                                        <td> {{ qu.Number_of_Projects_without_Submissions }} </td>
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
    {% endif %}
</body>
</html>