<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>See the programs and choose a project based on 3 criteria</h1>
</div>
{% if programs|length == 0 %}
		<h1 style="margin-top: 5rem;">No programs found!</h1>
	{% else %}
		<table class="table" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Branch</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for program in programs %}
                                    <tr>
                                        <td> {{ program.ID_Program }} </td>
                                        <td> {{ program.Branch }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
	{% endif %}
<br><br>
Now choose from the below criteria a project in order to see its workers.
<form action="/query1"  method="post">
Select the range of dates in which the start date of project must be. You have to select both range dates otherwise this criterion will not be taken into account.<br><br>
Lower bound of date range (YY-MM-DD): <input name="sd" type="text"><br><br>
Higher bound of date range (YY-MM-DD): <input name="ld" type="text"><br><br>
Duration of project (in years): <input name="dauer" type="text"><br><br>
Executive's ID: <input name="exec" type="text"><br><br>
<input type = "submit" value = "Submit">
<br><br>
</form>
</body>

</html>
