<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>RESEARCHERS</h1>
</div>
 <form action="/researchers" method="get">
    {% if researchers|length == 0 %}
        <h1 style="margin-top: 5rem;">No researchers found!</h1>
    {% else %}
        <table class="table" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>Researcher ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Birth Date</th>
                                    <th>Organization ID</th>
                                    <th>Work Start Date</th>
                                                  
                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for researcher in researchers %}
                                    <tr>
                                        <td> {{ researcher.ID_Researcher }} </td>
                                        <td> {{ researcher.First_Name }} </td>
                                        <td> {{ researcher.Last_Name }} </td>
                                        <td> {{ researcher.Gender }} </td>
                                        <td> {{ researcher.Birth_Date }} </td>
                                        <td> {{ researcher.ID_org }} </td>
                                        <td> {{ researcher.Work_Start_Date }} </td>
                                                              
                    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
    {% endif %}

</form>
<br><br>
{% if researchers|length != 0 %}
<b>If you want to delete an entry choose their ID:</b>
<input type="text" name="ID" id="ID"/>
<input type = "button" onclick = "red()" value = "Submit"><br><br>
<b>If you want to update an entry choose their ID:</b>
<input type="text" name="ID1" id="ID1"/>
<input type = "button" onclick = "up()" value = "Submit"><br><br>
If you want to return to the home page click here: <input type = "button" onclick = "home()" value = "Submit">
{% endif %}
<script> 
  	function red()
	{
		var input = document.getElementById('ID').value;
		window.location = "/researchers/delete/" + input;
	}
</script>
<script> 
  	function up()
	{
		var upd = document.getElementById('ID1').value;
		window.location = "/researchers/update/" + upd;
	}
</script>
<script> 
  	function home()
	{
		window.location = "/";
	}
</script>
</body>
</html>