<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Databases project 2022</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div align="center">
  <h1>Update scientific field you want</h1>
</div>
<form  method="post"><br><br>
	{% if ff|length == 0 %}
		<h1 style="margin-top: 5rem;">There is no scientific field to update :( </h1>
	{% else %}
		Select the scientific field you want to update:<select name="oldname">
						{% for f in ff %}
						<option	 value='{{f.Name}}'>{{f.Name}}</option>
						{% endfor %}
						</select>
		
<br><br>
Enter the new scientific field: <input name="name" type="text"><br><br>
<input type = "submit" value = "Submit">
{% endif %}
</form>
</body>
</html>	